{% trans_default_domain 'FOSUserBundle' %}
{% extends 'baseback.html.twig' %}
{% block content %}
<div style="margin-left: 800px;margin-bottom: 870px">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register_admin'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>
{% endblock %}
