{% extends 'basebackvente.html.twig' %}


{% block content %}
    <div class="limiter" style="">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                        <tr class="table100-head">
                            <th class="column1">Date</th>
                            <th class="column2">Sujet</th>
                            <th class="column3">Reclamation</th>
                            <th class="column4">Client </th>
                            <th class="column5">ID_Produit</th>
                            <th class="column6">Livreur</th>
                        </tr>
                        </thead>
                        <tbody>
                       {# <tr>
                            <td class="column1">2017-09-29 01:22</td>
                            <td class="column2">S</td>
                            <td class="column3">sdsdsds</td>
                            <td class="column4"><a href="client.html">wajdi</td>
                            <td class="column5">1</td>
                            <td class="column6"><a href="livreur.html">youssef</td>
                        </tr>
                        <tr>
                            <td class="column1">2017-09-29 01:22</td>
                            <td class="column2">S</td>
                            <td class="column3">sdsdsds</td>
                            <td class="column4"><a href="client.html">wajdi</td>
                            <td class="column5">1</td>
                            <td class="column6"><a href="livreur.html">baha</td>
                        </tr>
                        <tr>
                            <td class="column1">2017-09-29 01:22</td>
                            <td class="column2">S</td>
                            <td class="column3">sdsdsds</td>
                            <td class="column4"><a href="client.html">wajdi</td>
                            <td class="column5">1</td>
                            <td class="column6"><a href="livreur.html">aicha</td>
                        </tr>
                        <tr>
                            <td class="column1">2017-09-29 01:22</td>
                            <td class="column2">S</td>
                            <td class="column3">sdsdsds</td>
                            <td class="column4"><a href="client.html">wajdi</td>
                            <td class="column5">1</td>
                            <td class="column6"><a href="livreur.html">wajdi</td>
                        </tr>
                        <tr>
                            <td class="column1">2017-09-29 01:22</td>
                            <td class="column2">S</td>
                            <td class="column3">sdsdsds</td>
                            <td class="column4"><a href="client.html">wajdi</td>
                            <td class="column5">1</td>
                            <td class="column6"><a href="client.html">x</td>
                        </tr>
                        <tr>
                            <td class="column1">2017-09-29 01:22</td>
                            <td class="column2">S</td>
                            <td class="column3">sdsdsds</td>
                            <td class="column4"><a href="client.html">wajdi</td>
                            <td class="column5">1</td>
                            <td class="column6"><a href="client.html">xxyyy</td>
                        </tr>
                        <tr>
                            <td class="column1">2017-09-29 01:22</td>
                            <td class="column2">S</td>
                            <td class="column3">sdsdsds</td>
                            <td class="column4"><a href="client.html">wajdi</td>
                            <td class="column5">1</td>
                            <td class="column6"><a href="client.html">zzz</td>
                        </tr>
                        <tr>
                            <td class="column1">2017-09-29 01:22</td>
                            <td class="column2">S</td>
                            <td class="column3">sdsdsds</td>
                            <td class="column4"><a href="client.html">wajdi</td>
                            <td class="column5">1</td>
                            <td class="column6"><a href="client.html">o</td>
                        </tr>
                        <tr>
                            <td class="column1">2017-09-29 01:22</td>
                            <td class="column2">S</td>
                            <td class="column3">sdsdsds</td>
                            <td class="column4"><a href="client.html">wajdi</td>
                            <td class="column5">1</td>
                            <td class="column6"><a href="client.html">s</td>
                        </tr>
                        <tr>
                            <td class="column1">2017-09-29 01:22</td>
                            <td class="column2">S</td>
                            <td class="column3">sdsdsds</td>
                            <td class="column4"><a href="client.html">wajdi</td>
                            <td class="column5">1</td>
                            <td class="column6"><a href="client.html">a</td>
                        </tr>
                        <tr>
                            <td class="column1">2017-09-29 01:22</td>
                            <td class="column2">S</td>
                            <td class="column3">sdsdsds</td>
                            <td class="column4"><a href="client.html">wajdi</td>
                            <td class="column5">1</td>
                            <td class="column6"><a href="client.html">w</td>
                        </tr>
                        <tr>
                            <td class="column1">2017-09-29 01:22</td>
                            <td class="column2">S</td>
                            <td class="column3">sdsdsds</td>
                            <td class="column4"><a href="client.html">wajdi</td>
                            <td class="column5">1</td>
                            <td class="column6"><a href="client.html">gg</td>
                        </tr>
                        #}
                        <tr>
                            <td class="column1"></td>
                            <td class="column2"></td>
                            <td class="column3"></td>
                            <td class="column4"></td>
                            <td class="column5"></td>
                            <td class="column6"></td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




{% endblock %}




